html body {
  font-size: 16px;
  margin: 0;
}

html body a {
  color: orange;
  text-decoration: none;
}

html body .section-title {
  font-size: 3em;
}

html body #header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 1px dashed #ccc;
}

html body #header img {
  margin-top: 2em;
  max-width: 200px;
  height: auto;
}

html body #works {
  float: right;
  width: 75%;
  box-sizing: border-box;
  border-left: 1px dashed #ccc;
  padding: 2em;
}

html body #works #posts .post h1 {
  margin-bottom: 0.5em;
}

html body #works #posts .post h2 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: normal;
}

html body #works #posts .post p {
  font-weight: normal;
}

html body #works #posts .post img {
  display: inline-block;
  border: 1px solid #ccc;
  max-width: 500px;
  height: auto;
}

html body #works #posts .post .content {
  margin-bottom: 2em;
}

html body #works #posts .post .content p {
  font-size: 1em;
  display: block;
  margin-left: 0;
}

html body #prof {
  width: 25%;
  float: right;
  box-sizing: border-box;
  padding: 2em;
}

html body #prof .name {
  font-weight: bold;
}

html body #prof img {
  border: 1px solid #ccc;
  max-width: 200px;
  height: auto;
}

html body #footer {
  clear: both;
  width: 100%;
  text-align: center;
  background: #aaa;
}

html body #footer p {
  padding: 1em;
  font-size: 1em;
  margin-bottom: 0;
}
